doctype html
html
  head
    title freeCodeCamp Timestamp Microservice
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .container
      h1 FCC API Basejump: Timestamp Microservice
      p This application fulfills the #[a(href="http://www.freecodecamp.com/challenges/timestamp-microservice") initial API Basejump] as part of Free Code Camp's JavaScript curriculum.
      h3 Example
      p The following code
      p
        code https://dry-dusk-26167.herokuapp.com/December%2015,%202015
      p
        code https://dry-dusk-26167.herokuapp.com/1450137600                 
      p returns
      p
        code { "unix": 1450137600, "natural": "December 15, 2015" }
